
<br />
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 shadow">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h3 class="text-primary">Company List</h3>
                    <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> &nbsp; Create New Company
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblData" class="table align-items-center mb-0 table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Phone Number</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/company.js"></script>
}


