@model Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
  <div class="card shadow">
    <div class="card-body">
      <h3 class="card-title text-primary">Create Category</h3>
      <hr />
      <br />
         @*   <div asp-validation-summary="All"></div>*@
      <form method="post">
        <div class="form-group">
          <label asp-for="Name"></label>
          <input asp-for="Name" class="form-control" />
          <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="DisplayOrder"></label>
          <input asp-for="DisplayOrder" class="form-control" />
          <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">
          Back to List
        </a>
      </form>
    </div>
  </div>
</div>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}


