@model IEnumerable<CourseBook.Models.Product>
<div class="all_courses">
    <div class="container">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses" style="box-shadow: 0px 1px 2px #ccc; padding: 15px;">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="@product.ImageUrl" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>@product.Title</span>
                                    <h3 class="text-info">
                                        by
                                        <a href="#">
                                            <b class="text-dark">@product.Instructor</b>
                                        </a>
                                    </h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <div class="prise">
                                            <span class="offer">₺@product.ListPrice.ToString("0.00")</span>
                                            <span class="active_prise">
                                                ₺@product.Price100.ToString("0.00")
                                            </span>
                                        </div>
                                    </div>
                                    <br>
                                    <a asp-action="Details" class="btn form-control" asp-route-productId="@product.Id" style="background-image: linear-gradient(to right, #6f52af, #8875c8, #a397e3); color: #fff; border-color: #6f52af; font-size: 18px; font-weight: bold; padding-right: 20px; position: relative; text-decoration: none;">Details <span style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%);"></span></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
