@*@model IEnumerable<CourseBook.Models.Course>

<div class="col-xl-7 col-lg-7">
    <div class="single_courses">
        <h3>Description</h3>
        <p>
            Temel seviyede C# ve SQL bilgisi bilen kişilerin bilgi düzeyine göre anlattığım müfredatta amacım Core 5.0'ı tamamıyla A-->Z formatında olmasa da bu formata en yakın şekilde oldukça kapsamlı bir içerikle sunabilmektir.

            Müfredat sırasında yaptığımız projeyi aklınıza gelebilecek tüm web projelerine uyarlayabileceğiniz bir içerikle hazırlamaya çalıştım.

            Bu kurs Udemy'de şu ana kadar yayınladığım kurslar içerisinde en kapsamlı kursum oldu. Mart ayının ilk haftası itibariyle kursta Deploy işlemi sonrasında finali yaptık ancak bu tam bir final olmadı. Bu final dersinden sonra kursa Unity of Work, ElasticSearch, Rabbitmq gibi konular da eklenecektir.
        </p>
        <h3 class="second_title">Curious about the course</h3>
    </div>
    <div class="outline_courses_info">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="flaticon-question"></i> What topics will be included in the course content?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      Entity Framework Core | Repository Design Pattern | Unit of Work | Deploy | Fluent Validation | API | And more
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
